*.png filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
# Removed entries for files that are no longer tracked
# app/model/astronaut_rides_horse_cpu.png filter=lfs diff=lfs merge=lfs -text
# NLP_Project_Report.pdf filter=lfs diff=lfs merge=lfs -text

